.trackerDiv {
    background-color: red;
    position: fixed;
    font-size: 1em;
    font-family: monospace;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: '50%';
    width: '50%';
    bottom: 30px;
    right: 30px;
    box-shadow: 10px 10px lightgray;
}

#clickMe {
    background-color: white;
    font-family: monospace;
    padding: 10px;
    font-size: .75em;
}