.trackerDiv {
    background-color: red;
    position: fixed;
    font-size: 1em;
    font-family: monospace;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    bottom: 30px;
    right: 30px;
    box-shadow: 10px 10px lightgray;
}

#clickMe {
    background-color: whitesmoke;
    font-family: monospace;
    color: black;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: .75em;

}

#numTrackers {
    margin-bottom: 15px;
}